@media print {
    @page {
        size: letter landscape; !important
        margin: 4.0cm; !important
    }

    body {
        margin: 25mm 25mm 25mm 25mm; !important
        background: #fff; !important
        color: #000; !important
        font-size: 8pt; !important
        line-height: 150%; !important
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; !important
    }

    hr {
        color: #ccc;
        background-color: #ccc;
    }

    h1, h2, h3, h4, h5, h6, code, pre {
        color: #000;
        text-transform: none; !important
    }

    .multilinea {
        width: 80px; !important
        display: inline-block; !important
    }
}