.header {
    height: 65px;
    background-color: #008cba;
    margin-bottom: 5px;
}

.header img {
    margin-left: 10px;
    height: 75px;
}

.handle {
    cursor: move;
}

.logo {
    height: 75px;
    margin-top: -10px;
}

.agregar img {
    position: fixed;
    margin-left: 20px;
}

.sortable li {
    list-style: none;
    background: transparent;
    color: #000;
    margin: 5px;
    padding: 5px;
    min-height: 175px;
}

.sortable li:hover {
    opacity: 0.9;
}

.handle {
    cursor: move;
}

.fa-btn {
    margin-right: 6px;
}

.panelP {
    position: fixed;
}